<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间，为了对sql语句进行隔离，方便管理，mapper开发dao方式，使用namespace有特殊作用  
mapper代理开发时将namespace指定为mapper接口的全限定名  
 -->
<mapper namespace="com.chengxusheji.mapper.FindTypeMapper"> 
<!--在mapper.xml文件中配置很多的sql语句，执行每个sql语句时，封装为MappedStatement对象 
mapper.xml以statement为单位管理sql语句  
 -->
	<!-- 添加寻找类型记录 -->
	<insert id="addFindType" parameterType="findType">
		insert into t_findType(findTypeName) values 
		(#{findTypeName})
	</insert>

	<!-- 按照查询条件分页查询寻找类型记录 -->
	<select id="queryFindType" resultMap="findTypeMap" >
		select t_findType.* from t_findType ${where} limit #{startIndex},#{pageSize}
	</select>
	<resultMap id="findTypeMap" type="findType">
        <id property="findTypeId" column="findTypeId" />
    </resultMap>

    <!-- 按照查询条件查询所有寻找类型记录 -->
	<select id="queryFindTypeList" resultMap="findTypeMap" >
		select t_findType.* from t_findType ${where}
	</select>

    <!-- 按照查询条件的寻找类型记录数 -->
	<select id="queryFindTypeCount" resultType="int">
		select count(*) from t_findType ${where}
	</select>

	<!-- 根据主键查询某个寻找类型记录 -->
	<select id="getFindType" parameterType="int" resultMap="findTypeMap">
		select * from t_findType where t_findType.findTypeId = #{findTypeId}
	</select>

	<!-- 更新寻找类型记录 -->
	<update id="updateFindType" parameterType="findType">
		update t_findType set findTypeName=#{findTypeName} where findTypeId = #{findTypeId}
	</update>

	<!-- 删除寻找类型记录 -->
	<delete id="deleteFindType" parameterType="int">
		delete from t_findType where findTypeId=#{findTypeId}
	</delete>

</mapper>
